html {
    font-family: 'Open Sans', sans-serif;
    background-color: #303030;
    color: #ffffff;
    margin: 0px;
    padding: none;
}


.small{
    font-size: 12px;
}

/* CSS files add styling rules to your content */

body {
    background-image: ('https://cdn.glitch.com/68497723-05cd-4b20-a7f1-c45044a05606%2Fpieos%20bag.png?v=1599237849654');
    text-align: center;
    margin: 0;
}

.nav h1 {
    margin: 0;
    font-size: 36px;
    display: inline;
    font-weight: 300;
}

.li a:hover {
    margin: 0;
    display: inline;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

.nav {
    text-align: center;
    background-color: #202020;
    margin: 0;
    padding: 5px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}

html {
    margin: 0;
}

li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    text-align: center;
    margin: 0;
    padding: 5px;
}

ul {
    padding: 0;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

a {
    color: #ffffff;
}

.nav img {
    width: 25px;
    height: 25px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 500px;
}

img.a {
    width: 1px;
    height: 25px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 500px;
}

.content {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

@media screen and (max-width: 400px) {
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.cozy {
    display: inline;
    vertical-align: middle;
}

.downbtn {
    background-color: #0090FF;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
}

.downbtn:hover {
    background-color: #004E8B;
}

.downbtn:clicked {
    background-color: #003258;
}

.circleback {
    border-radius: 200px;
    text-decoration: underline;
    background-color: black;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.circleback:hover {
    background-color: #080808;
}

.circleback:clicked {
    background-color: #003258;
}

h6 {
    font-size: 100px;
}

.imgcircle {
    border-radius: 100px;
    vertical-align: middle;
}

.exeon img {
    border-radius: 100px;
    vertical-align: middle;
    display: inline;
}

.exeon {
    padding-top: 10px;
}

.exeon h1 {
    display: inline;
    vertical-align: middle;
}

.inline {
    display: inline;
}

.table {
    text-align: center;
    vertical-align: middle;
    display: inline;
}

footer{
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 10px;
}

img {
    width: 23px;
    border-radius: 100px;
    vertical-align: middle;

}

